@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 0px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container)

}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position:relative;
    display:grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}
.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(180deg, #00000010 0%, #00000010 100%), url(./imagenes/cafegrande.jpg);
    background-size: cover;
    clip-path: circle(100% at 50% -70%);
    z-index: -1;


}
.nav{
    --pading-container:0;
    height:100%;
    display: flex;
    align-items: center;
}
.nav_title{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}
.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}


.nav_img{
    display: block;
    width: 30px;

}

.nav_close{
    display:var(--show,none);
}

/* contenedor hero*/
.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows:max-content;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align: center;

}
.hero_title{
    font-size:3rem;
}
.hero_paragraph{
    margin-top: -40px;
    margin-bottom: 20px;
}
body{
    background-color:#f3e9dc;
}
.slider_box{
    width: 1280px;
    height: auto;
    margin:50px auto 0 ;
    overflow: hidden;
    padding-bottom: 100px;
}
.slider_box ul{
    display: flex;
    padding:0;
    width:400;
    animation:slide 20s infinite alternate ease-in-out ;
}
.slider_box li{
    width:100%;
    list-style: none;
    position: relative;
}
@keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media(max-width:991px){
    body{
        padding:40px;
    }
    .slider_box{
        width:100%;
    }
}
.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.content{
    background: #b99470;
    overflow: hidden;
}
.content__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    align-items: center;
}
.content_picture{
    max-width: 700px;

}
.content_video{
    width: 100%;
    display: block;

}