@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 0px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3e9dc; /* Fondo del body en la página de inicio */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000010 0%, #00000010 100%), url(./imagenes/cafegrande.jpg);
    background-size: cover;
    clip-path: circle(100% at 50% -70%);
    z-index: -1;
}

/* Estilos para la página de reserva */
body.reserva .hero {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
}

body.reserva .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000010 0%, #00000010 100%), url(./imagenes/Banner-reserva.jpeg);
    background-size: cover;
    clip-path: circle(100% at 50% -70%);
    z-index: -1;
}

/* Navegación */
.nav {
    --pading-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_title {
    font-weight: 300;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #fff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}

/* Contenedor del héroe */
.hero_container {
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragraph {
    margin-top: -20px;
    margin-bottom: 20px;
}

/* Estilos para el menú */
.menu {
    padding: 20px;
    background-color: #fff;
}

.menu h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.menu-item {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 10px;
    position: relative;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

/* Botón de llamada a la acción */
.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* Slider */
.slider_box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    padding-bottom: 100px;
}

.slider_box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider_box li {
    width: 100%;
    list-style: none;
    position: relative;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 991px) {
    body {
        padding: 40px;
    }

    .slider_box {
        width: 100%;
    }

    .menu-item {
        width: 100%;
    }
}

/* Estilos para la sección 'Acerca de nosotros' */
.content__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 2em; /* Espacio entre columnas */
    align-items: center; /* Alineación centrada en ambas columnas */
}

.content__texts {
    max-width: 600px; /* Limita el tamaño del texto */
}

.content_picture {
    max-width: 700px; /* Limita el tamaño del video */
    margin-top: 20px; /* Para dar un poco de espacio en caso de que haya problemas de alineación */
}

.content_video {
    width: 100%; /* Aseguramos que el video ocupe todo el ancho disponible */
    display: block;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .content__container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .content__texts {
        text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
    }

    .content_picture {
        margin-top: 20px;
        width: 100%;
    }
}
